body,
html {
  height: 100%;
  margin: 0;
}
.container{
    height: 100%;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 1fr 4fr;

}
.leftBar{
    background-color: aliceblue;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    gap: 20px;
    
    
    
}
.topBar{
    background-color: green;
    grid-column: 2/3;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-columns: 1fr 1fr;

}
.content{
    background-color: red;
}
.search{
    display: grid;
    grid-template-columns: 1fr;
}
.logo{
    font-size: 32px;
}
.home li{
    font-size: 25px;
    margin-bottom: 10px;
}
.settings li{
    font-size: 25px;
    margin-bottom: 10px;

}
ul{
    list-style-type: none;
}

